* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body {
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.f-right {
    float: right !important;
}

.active {
    color: #e7a63b !important;
}

.active-tab {
    color: #fff !important;
    background-color: #e7b45a !important;
}

.dnone {
    display: none !important;
}

header {
    width: 100%;
    height: 185px;
    float: left;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
}

.topbar {
    height: 45px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

.topbar-row {
    display: flex;
    justify-content: space-between;
}

.topbar-left{
    line-height: 70px;
    font-size: 20px;
    display: inline-block;
    padding: 0 15px;
}

.topbar-left ul{
    list-style: none;
}

.topbar-right{
    line-height: 70px;
    font-size: 20px;
    padding: 0 15px;
}

.welcome-text{
    color: #707070;
}

.ul-account {
    list-style: none;
    display: inline-block;

}

.ul-account li{
    display: inline-block;
}

.ul-account li a{
    display: inline-block;
    color: #707070;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 20px;
}

.ul-account li:hover a{
    color: #e7a63b;
    text-shadow: 2px 2px 10px orange ;
}

.mid-header{
    height: 90px;
    background-color: black;
    position: relative;
    top: 15px;
}

.mid-header-row {
    height: 120px;
}

.header-nav{
    text-align: center;
    height: 90px;
}

.nav-left,
.nav-right{
    position: relative;
    bottom: 15px;
}


.subnav {
    position: absolute ;
    background-color: #fff; 
    width: 290px;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 115%;
    right: 0%;
    display: none;
    border-radius: 8px;
}

.subnav:after {
    content: "";
    width: 115px;
    height: 20px;
    position: absolute;
    right: 3%;
    top: -10px;
}

.nav-item:hover .subnav {
    display: inline-block;
    animation: appear ease .5s;
}

.subnav .subnav-item {
    padding-left: 10px;
    width: 290px;
    list-style-type: none;
    border-bottom: 1px solid #ccc ;
    line-height: 70px;
    transition: background-color 0.6s;
}

.subnav li a {
    text-decoration: none;
    color: black;
}

.subnav-item:hover{
    background-color: #ccc;
}

@keyframes appear {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/* Nhớ khi làm js thì phải làm hiệu ứng mouseenter nha Toàn */

.nav-left,
.logo_center,
.nav-right{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

.nav-item,
.cart-contain{
    display: inline-block; 
    color: #fff;
    margin: 0 15px;
    line-height: 70px;
}

.nav-item {
    font-size: 18px;
}

.nav-item:hover{
    cursor: pointer;
}

.a-img{
    text-decoration: none;
    color: #fff;
    transition: color 0.5s;
}

.nav-item:hover .a-img {
    color: #e7a63b;
}

.logo_center {
    height: 120px;
    position: relative;
    bottom: 25px;
    margin: 0 40px;
}

.logo-img{
    width: 140px;
    line-height: 90px;
    background-color: black;
    border-radius: 50% ;
}

/*Tuyendung*/
.no_header{
    width: 100%;
    background-image: linear-gradient(rgba(51, 55, 69, 0.7),rgba(51,55,69,0.7)),url(../img/HEADERTUYENDUNG.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 160px;
}
.no_header1{
    width: 90%;
    color:aliceblue;
    position: absolute;
    top: 10%;
    left: 5%;
    text-align: center;
}

.no_header1 h1{
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 25px;
}

.no_header a:hover{
    background: rgb(224, 224, 217) no-repeat;
    color: black;
}

.textbox{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(231, 174, 109);
    font-size: 25px;
    /*background: transparent;*/
    /*position: relative;*/
    /*cursor: pointer;*/
    border-radius: 5px;
    background-color: rgb(231, 228, 228);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 5px;
    line-height: 60px;
    margin: 10px;
    width: 280px;
    margin-top: 50px;
}

/*Khoicongviec*/
.container1{
    background: #f6f6f6;
    padding: 16px 160px 32px;
    display: flex;
    justify-content: center;
    padding-top: 170px ;
}

.job_list_filter{
    flex-basis: 35%;
    width: 35%;
    max-width: 248px;
    display: flex;
    flex-direction: column;
}

.job_list_filter_store{
    padding: 16px;
    background: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
    box-shadow: 0 16px 24px rgb(0 0 0 / 6%), 0 2px 6px rgb(0 0 0 / 4%), 0 0 1px rgb(0 0 0 / 4%);
    border-radius: 4px;
}

.jlfs_title{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 16px;
}

.jlfs_all{
    cursor: pointer;
    color: #E57905;
    background: #ffefef;
    border-radius: 8px;
    padding: 10px 8px;
}

.job_list_body{
    max-width: 753px;
    flex: 1;
    margin-left: 18px;
    background: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
    box-shadow: 0 16px 24px rgb(0 0 0 / 6%), 0 2px 6px rgb(0 0 0 / 4%), 0 0 1px rgb(0 0 0 / 4%);
    border-radius: 4px;
    height: fit-content;
}

.job_list_body_info{
    padding: 16px 24px;
}

.job_list_body_count{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #E57905;
}

.job_list_body_title{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-top: 4px;
}



.job_list_body_item{
    min-height: 142px;
    padding: 24px;
    box-shadow: inset 0 -1px 0 #f5f5f5;
}

.jlb_unit{
    color: #30c894;
    background: #eafaf4;
    width: 125px;
    border-radius: 4px;
}

.jlb_main{
    display: flex;
}

.jlb_left{
    flex: 1;
}

.jlb_left_name{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.jlb_left-info{
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}


.jlb_left_deadline{
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.jlb_right{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.jlb_right_deadline{
    font-size: 14px;
    line-height: 20px;
    color: #545454;
    margin-bottom: 12px;
}

.jlb_right_apply{
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    width: 150px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #e2e2e2;
    text-align: center;
    text-decoration: none;
}

.jlb_right_apply a{   
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/*Footer*/
.footer{
    background-image: url("//bizweb.dktcdn.net/100/346/521/themes/853163/assets/bg_footer.png?1638345885197");
    background-repeat: no-repeat;
    position: relative;
    height: 800px;
}


.footer-contact {
    position: relative;
    left: 130px;
    top: 250px;
}

.infor,
.follow-option {
    margin-bottom: 30px;
}

.infor ul li {
    list-style: none;
    margin: 18px 0;
}


.infor span {
    color: #fff;
}

.infor ul li a{
    color: #b7b7b7;
    text-decoration: none;
    font-size: 14px;
}

.follow-option {
    border-bottom: 1px solid #363636;
    padding-bottom: 40px ;
    width: 65%;
}

.follow-option ul {
    display: inline-block;
}

.follow-option ul li {
    display: inline-block;
    padding-right: 20px;
}

.follow-option ul li i {
    font-size: 20px;
    color: #b7b7b7;
}

.customer-care {
    padding-right: 60px;
    border-right: 1px solid #363636;
}

.contact-us {
    margin-left: 20px;
}

.customer-care,
.contact-us {
    display: inline-block;
}

.list-menu li,
.contact-us li {
    list-style: none;
    padding: 8px 0;
}

.list-menu span,
.contact-us span {
    color: #fff;
}

.list-menu li a,
.contact-us li a {
    color: #b7b7b7;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.1px
}

.backtop.show {
    opacity: 1 !important;
}
.backtop {
    position: absolute;
    right: 0px;
    bottom: 15px;
    top: auto !important;
    text-decoration: none;
    opacity: 0 !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    color: #b7b7b7 !important;
}
.show {
    display: block !important;
}