* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
body {
    width: 100%;
}

.container {
    width: 60%;
    margin: 0 auto;
    height: 100%;
}
header {
    width: 100%;
    height: 185px;
    float: left;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
}
.section-service-end {
    display: flex;
    justify-content: space-between;
}

.service-item {
    display: inline-block;
    width: 300px;
    
}

.service-item:nth-child(2) {
    position: relative; 
    top: 10px;
}

.service-img {
    display: inline-block;
    width: 65px;
    height: 65px;
    position: relative;
    margin-right: 20px;
}

.service-img img {
    vertical-align: middle;

}

.service-item  span{
    font-size: 14px;
    color: #707070;
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}
.acticle-title{
    font-size:30px;
}
.text{
    font-size:20px;
}
.info ul li a{
    color : blue;
}
.info a:hover  {
    color: #e7b45a;
}
.info a:active{
    color : green;
}
.footer{
    background-image: url("//bizweb.dktcdn.net/100/346/521/themes/853163/assets/bg_footer.png?1638345885197");
    background-repeat: no-repeat;
    position: relative;
    height: 750px;
    width:100%;
   
}
.material-symbols-outlined{
    color: #e7b45a;
}

.footer-contact {
    position: absolute;
    right: 350px;
    top: 260px;
   
}

.infor,
.follow-option {
    margin-bottom: 30px;
}

.infor ul li {
    list-style: none;
    margin: 15px 0;
}

.infor ul li i{
    padding-right: 20px;
}

.infor span {
    color: #fff;
}

.infor ul li a,
.infor i {
    color: #b7b7b7;
    text-decoration: none;
    font-size: 14px;
}

.follow-option {
    border-bottom: 1px solid #363636;
    padding-bottom: 40px ;
}

.follow-option ul {
    display: inline-block;
}

.follow-option ul li {
    display: inline-block;
    padding-right: 20px;
}

.follow-option ul li i {
    font-size: 20px;
    color: #b7b7b7;
}

.customer-care {
    padding-right: 60px;
    border-right: 1px solid #363636;
}

.contact-us {
    margin-left: 20px;
}

.customer-care,
.contact-us {
    display: inline-block;
}

.list-menu li,
.contact-us li {
    list-style: none;
    padding: 8px 0;
}

.list-menu span,
.contact-us span {
    color: #fff;
}

.list-menu li a,
.contact-us li a {
    color: #b7b7b7;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.1px
}


