* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body {
    width: 100%;
    font-family: "Roboto", sans-serif;
}

/*header*/
.gg-arrow-left-r{
    padding: 0 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.f-right {
    float: right !important;
}

.active {
    color: #e7a63b !important;
}

.active-tab {
    color: #fff !important;
    background-color: #e7b45a !important;
}

.dnone {
    display: none !important;
}

header {
    width: 100%;
    height: 185px;
    float: left;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
}

.topbar {
    height: 45px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

.topbar-row {
    display: flex;
    justify-content: space-between;
}

.topbar-left{
    line-height: 70px;
    font-size: 20px;
    display: inline-block;
    padding: 0 15px;
}

.topbar-left ul{
    list-style: none;
}

.topbar-right{
    line-height: 70px;
    font-size: 20px;
    padding: 0 15px;
}

.welcome-text{
    color: #707070;
}

.ul-account {
    list-style: none;
    display: inline-block;

}

.ul-account li{
    display: inline-block;
}

.ul-account li a{
    display: inline-block;
    color: #707070;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 20px;
}

.ul-account li:hover a{
    color: #e7a63b;
    text-shadow: 2px 2px 10px orange ;
}

.mid-header{
    height: 90px;
    background-color: black;
    position: relative;
    top: 15px;
}

.mid-header-row {
    height: 120px;
}

.header-nav{
    text-align: center;
    height: 90px;
}

.nav-left,
.nav-right{
    position: relative;
    bottom: 15px;
}


.subnav {
    position: absolute ;
    background-color: #fff; 
    width: 290px;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 115%;
    right: 0%;
    display: none;
    border-radius: 8px;
}

.subnav:after {
    content: "";
    width: 115px;
    height: 20px;
    position: absolute;
    right: 3%;
    top: -10px;
}

.nav-item:hover .subnav {
    display: inline-block;
    animation: appear ease .5s;
}

.subnav .subnav-item {
    padding-left: 10px;
    width: 290px;
    list-style-type: none;
    border-bottom: 1px solid #ccc ;
    line-height: 70px;
    transition: background-color 0.6s;
}

.subnav li a {
    text-decoration: none;
    color: black;
}

.subnav-item:hover{
    background-color: #ccc;
}

@keyframes appear {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/* Nhớ khi làm js thì phải làm hiệu ứng mouseenter nha Toàn */

.nav-left,
.logo_center,
.nav-right{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

.nav-item,
.cart-contain{
    display: inline-block; 
    color: #fff;
    margin: 0 15px;
    line-height: 70px;
}

.nav-item {
    font-size: 19px;
}

.nav-item:hover{
    cursor: pointer;
}

.a-img{
    text-decoration: none;
    color: #fff;
    transition: color 0.5s;
}

.nav-item:hover .a-img {
    color: #e7a63b;
}

.logo_center {
    height: 120px;
    position: relative;
    bottom: 25px;
    margin: 0 40px;
}

.logo-img{
    width: 140px;
    line-height: 90px;
    background-color: black;
    border-radius: 50% ;
}


.gt{
    width: 100%;
    background-image:url(../img/GT.png);
    height: 250px;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 160px;
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
    height: 350px;
}

.gt p{
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
    padding-left: 30px;
}


/*code sau header*/
.nobackground_gioithieu{
    display: block;
    width: 100%;
    background: white;
    height: 35px;
    padding-left: 150px;
    margin-top: 170px;
    
}

.nobackground_gioithieu .nobackground_list li{
    float: left;
    line-height: 35px;
    list-style: none;
}

/*code sau trang chu va gioi thieu*/

.main{
    width: 90%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    
}
.tieude{
    font-weight: 500;
    padding-left: 125px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.noidungsautieude{
    padding-left: 150px;
    line-height: 2;
}

.noidungsautieude .ghichu{
    padding-left: 50px;
}

/*Footer*/
.footer{
    background-image: url("//bizweb.dktcdn.net/100/346/521/themes/853163/assets/bg_footer.png?1638345885197");
    background-repeat: no-repeat;
    position: relative;
    height: 800px;
}


.footer-contact {
    position: relative;
    left: 130px;
    top: 250px;
}

.infor,
.follow-option {
    margin-bottom: 30px;
}

.infor ul li {
    list-style: none;
    margin: 18px 0;
}


.infor span {
    color: #fff;
}

.infor ul li a{
    color: #b7b7b7;
    text-decoration: none;
    font-size: 14px;
}

.follow-option {
    border-bottom: 1px solid #363636;
    padding-bottom: 40px ;
    width: 65%;
}

.follow-option ul {
    display: inline-block;
}

.follow-option ul li {
    display: inline-block;
    padding-right: 20px;
}

.follow-option ul li i {
    font-size: 20px;
    color: #b7b7b7;
}

.customer-care {
    padding-right: 60px;
    border-right: 1px solid #363636;
}

.contact-us {
    margin-left: 20px;
}

.customer-care,
.contact-us {
    display: inline-block;
}

.list-menu li,
.contact-us li {
    list-style: none;
    padding: 8px 0;
}

.list-menu span,
.contact-us span {
    color: #fff;
}

.list-menu li a,
.contact-us li a {
    color: #b7b7b7;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.1px
}

.backtop.show {
    opacity: 1 !important;
}
.backtop {
    position: absolute;
    right: 0px;
    bottom: 15px;
    top: auto !important;
    text-decoration: none;
    opacity: 0 !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    color: #b7b7b7 !important;
}
.show {
    display: block !important;
}



