* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body {
    width: 100%;
    font-family: "Roboto", sans-serif;
}s

/*header*/
.gg-arrow-left-r{
    padding: 0 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.f-right {
    float: right !important;
}

.active {
    color: #e7a63b !important;
}

.active-tab {
    color: #fff !important;
    background-color: #e7b45a !important;
}

.dnone {
    display: none !important;
}

header {
    width: 100%;
    height: 185px;
    float: left;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
}

.topbar {
    height: 45px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

.topbar-row {
    display: flex;
    justify-content: space-between;
}

.topbar-left{
    line-height: 70px;
    font-size: 20px;
    display: inline-block;
    padding: 0 15px;
}

.topbar-left ul{
    list-style: none;
}

.topbar-right{
    line-height: 70px;
    font-size: 20px;
    padding: 0 15px;
}

.welcome-text{
    color: #707070;
}

.ul-account {
    list-style: none;
    display: inline-block;

}

.ul-account li{
    display: inline-block;
}

.ul-account li a{
    display: inline-block;
    color: #707070;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 20px;
}

.ul-account li:hover a{
    color: #e7a63b;
    text-shadow: 2px 2px 10px orange ;
}

.mid-header{
    height: 90px;
    background-color: black;
    position: relative;
    top: 15px;
    max-width: 100%;
}

.mid-header-row {
    height: 120px;
}

.header-nav{
    text-align: center;
    height: 90px;
}

.nav-left,
.nav-right{
    position: relative;
    bottom: 15px;
}


.subnav {
    position: absolute ;
    background-color: #fff; 
    width: 290px;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 115%;
    right: 0%;
    display: none;
    border-radius: 8px;
}

.subnav:after {
    content: "";
    width: 115px;
    height: 20px;
    position: absolute;
    right: 3%;
    top: -10px;
}

.nav-item:hover .subnav {
    display: inline-block;
    animation: appear ease .5s;
}

.subnav .subnav-item {
    padding-left: 10px;
    width: 290px;
    list-style-type: none;
    border-bottom: 1px solid #ccc ;
    line-height: 70px;
    transition: background-color 0.6s;
}

.subnav li a {
    text-decoration: none;
    color: black;
}

.subnav-item:hover{
    background-color: #ccc;
}

@keyframes appear {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/* Nhớ khi làm js thì phải làm hiệu ứng mouseenter nha Toàn */

.nav-left,
.logo_center,
.nav-right{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

.nav-item,
.cart-contain{
    display: inline-block; 
    color: #fff;
    margin: 0 15px;
    line-height: 70px;
}

.nav-item {
    font-size: 18px;
}

.nav-item:hover{
    cursor: pointer;
}

.a-img{
    text-decoration: none;
    color: #fff;
    transition: color 0.5s;
}

.nav-item:hover .a-img {
    color: #e7a63b;
}

.logo_center {
    height: 120px;
    position: relative;
    bottom: 25px;
    margin: 0 40px;
}

.logo-img{
    width: 140px;
    line-height: 90px;
    background-color: black;
    border-radius: 50% ;
}

.cart {
    position: relative;
    right: 50px;
    top: 10px;
}

.count-item {
    position: absolute;
    font-size: 25px;
    color: #ccc;
    bottom: 17px;
}

.no_header{
    width: 100%;
    background-image: linear-gradient(rgba(51, 55, 69, 0.7),rgba(51,55,69,0.7)),url(../img/HEADERTUYENDUNG.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 160px;
}

.no_header1{
    width: 90%;
    color:aliceblue;
    position: absolute;
    top: 10%;
    left: 5%;
    text-align: center;
}

.no_header1 h1{
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 25px;
}

.no_header a:hover{
    background: rgb(224, 224, 217) no-repeat;
    color: black;
}

.textbox{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(162, 157, 152);
    font-size: 25px;
    /*background: transparent;*/
    /*position: relative;*/
    /*cursor: pointer;*/
    border-radius: 5px;
    background-color: rgb(231, 228, 228);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 5px;
    line-height: 60px;
    margin: 10px;
    width: 280px;
    margin-top: 50px;
}

.Information{
    width: 100%;
    margin: auto;
    padding-top: 50px;
    background-color: rgb(231, 228, 224);
    /*padding-left: 200px;
    padding-right: 91px;*/
}

.Information h1{
    font-size: 40px;
    font-weight: 600px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(67, 37, 37);
    margin-top: 10px;
    text-align: center;
}

.offer{
    margin-top: 5%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.office{
    border: 1px solid rgb(172, 157, 157);
    border-radius: 10px;
    background-color: orange;
    margin-bottom: 5%;
    height: 600px;
    width: 30%;
    margin: 10px;
}
.office ul li{
    line-height: 2;
    padding-left: 25px;
}

.store{
    border: 1px solid rgb(172, 157, 157);
    border-radius: 10px;
    background-color: rgb(255, 102, 0);
    margin-bottom: 5%;
    height: 600px;
    width: 30%;
    margin: 10px;
}

.store ul li{
    line-height: 2;
    padding-left: 25px;
}

.office img{
    width: 455px;
    height: 350px;
    border-radius: 10px 10px 0px 0px;
}

.store img{
    width: 455px;
    height: 350px;
    border-radius: 10px 10px 0px 0px;
}

.store h3{
    color: white;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    margin-left: 10px;
    margin-top: 15px;
}

.store ul{
    list-style: none;
    line-height: 25px;
    text-align: left;
}

.store ul li a{
    color: white;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

.office h3{
    color: white;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    margin-left: 10px;
    margin-top: 15px;    
}

.store ul a:hover{
    background: rgb(153, 153, 201) no-repeat;
    color: black;
    width: 100%;
    height: 100%;
}

.office ul{
    list-style: none;
    line-height: 25px;
    text-align: left;
}

.office ul li a{
    color: white;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

.office ul a:hover{
    background: rgb(197, 197, 207) no-repeat;
    color: black;
    width: 280px;
    height: 50px;
}

/*Footer*/
.footer{
    background-image: url("//bizweb.dktcdn.net/100/346/521/themes/853163/assets/bg_footer.png?1638345885197");
    background-repeat: no-repeat;
    position: relative;
    height: 800px;
}


.footer-contact {
    position: relative;
    left: 130px;
    top: 250px;
}

.infor,
.follow-option {
    margin-bottom: 30px;
}

.infor ul li {
    list-style: none;
    margin: 18px 0;
}


.infor span {
    color: #fff;
}

.infor ul li a{
    color: #b7b7b7;
    text-decoration: none;
    font-size: 14px;
}

.follow-option {
    border-bottom: 1px solid #363636;
    padding-bottom: 40px ;
    width: 65%;
}

.follow-option ul {
    display: inline-block;
}

.follow-option ul li {
    display: inline-block;
    padding-right: 20px;
}

.follow-option ul li i {
    font-size: 20px;
    color: #b7b7b7;
}

.customer-care {
    padding-right: 60px;
    border-right: 1px solid #363636;
}

.contact-us {
    margin-left: 20px;
}

.customer-care,
.contact-us {
    display: inline-block;
}

.list-menu li,
.contact-us li {
    list-style: none;
    padding: 8px 0;
}

.list-menu span,
.contact-us span {
    color: #fff;
}

.list-menu li a,
.contact-us li a {
    color: #b7b7b7;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.1px
}

.backtop.show {
    opacity: 1 !important;
}
.backtop {
    position: absolute;
    right: 0px;
    bottom: 15px;
    top: auto !important;
    text-decoration: none;
    opacity: 0 !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    color: #b7b7b7 !important;
}
.show {
    display: block !important;
}









